<link rel="stylesheet" href="{{ 'pagefly.bd68a81b.css' | asset_url }}">
		 <style>.main-content, .template-product-slideshow .recommended-products { 	max-width: 100%; 	padding: 0; 	margin: 0 auto 50px; }</style> {% if product_5998637416601 == null %}{%- assign product_5998637416601 = all_products["black-silkstretch-curved-hem-t-shirtblack"] -%}{% endif %} {% if product_5998633484441 == null %}{%- assign product_5998633484441 = all_products["white"] -%}{% endif %} {% if product_5998629290137 == null %}{%- assign product_5998629290137 = all_products["birch-silkstretch-curved-hem-t-shirt-men"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["5998637416601"] = {
		id: {{ product_5998637416601.id | json }},
		handle: {{ product_5998637416601.handle | json }},
		title: {{ product_5998637416601.title | json }},
		type: {{ product_5998637416601.type | json }},
		url: {{ product_5998637416601.url | json }},
		vendor: {{ product_5998637416601.vendor | json }},
		variants: {{ product_5998637416601.variants | json }},
		options: {{ product_5998637416601.options | json }},
		media: {{ product_5998637416601.media | json }},
		has_only_default_variant: {{ product_5998637416601.has_only_default_variant | json }},
		options_with_values: {{ product_5998637416601.options_with_values | json }},
		selected_variant: {{ product_5998637416601.selected_variant | json }},
		selected_or_first_available_variant: {{ product_5998637416601.selected_or_first_available_variant | json }},
		tags: {{ product_5998637416601.tags | json }},
		template_suffix: {{ product_5998637416601.template_suffix | json }},
		featured_image: {{ product_5998637416601.featured_image | json }},
		featured_media: {{ product_5998637416601.featured_media | json }},
		images: {{ product_5998637416601.images | json }}
	};window.__pageflyProducts["5998633484441"] = {
		id: {{ product_5998633484441.id | json }},
		handle: {{ product_5998633484441.handle | json }},
		title: {{ product_5998633484441.title | json }},
		type: {{ product_5998633484441.type | json }},
		url: {{ product_5998633484441.url | json }},
		vendor: {{ product_5998633484441.vendor | json }},
		variants: {{ product_5998633484441.variants | json }},
		options: {{ product_5998633484441.options | json }},
		media: {{ product_5998633484441.media | json }},
		has_only_default_variant: {{ product_5998633484441.has_only_default_variant | json }},
		options_with_values: {{ product_5998633484441.options_with_values | json }},
		selected_variant: {{ product_5998633484441.selected_variant | json }},
		selected_or_first_available_variant: {{ product_5998633484441.selected_or_first_available_variant | json }},
		tags: {{ product_5998633484441.tags | json }},
		template_suffix: {{ product_5998633484441.template_suffix | json }},
		featured_image: {{ product_5998633484441.featured_image | json }},
		featured_media: {{ product_5998633484441.featured_media | json }},
		images: {{ product_5998633484441.images | json }}
	};window.__pageflyProducts["5998629290137"] = {
		id: {{ product_5998629290137.id | json }},
		handle: {{ product_5998629290137.handle | json }},
		title: {{ product_5998629290137.title | json }},
		type: {{ product_5998629290137.type | json }},
		url: {{ product_5998629290137.url | json }},
		vendor: {{ product_5998629290137.vendor | json }},
		variants: {{ product_5998629290137.variants | json }},
		options: {{ product_5998629290137.options | json }},
		media: {{ product_5998629290137.media | json }},
		has_only_default_variant: {{ product_5998629290137.has_only_default_variant | json }},
		options_with_values: {{ product_5998629290137.options_with_values | json }},
		selected_variant: {{ product_5998629290137.selected_variant | json }},
		selected_or_first_available_variant: {{ product_5998629290137.selected_or_first_available_variant | json }},
		tags: {{ product_5998629290137.tags | json }},
		template_suffix: {{ product_5998629290137.template_suffix | json }},
		featured_image: {{ product_5998629290137.featured_image | json }},
		featured_media: {{ product_5998629290137.featured_media | json }},
		images: {{ product_5998629290137.images | json }}
	};
	</script><div style="opacity:0" class="sc-iJCRrE bojiJp __pf" id="__pf"><div data-pf-type="Body" class="sc-gSYDnn jcqGXt pf-1_"><div data-pf-type="Layout" class="sc-Arkif eJDRKz pf-2_"><div data-pf-type="Section" class="sc-hhIiOg iwisNA pf-3_"><div style="--cw:1170px" class="sc-oeezt OJJCp"><div class="sc-hHEiqL ccTnQh pf-4_ pf-r" style="--s-xs:16px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-5_"><h3 data-pf-type="Heading" class="sc-ciSkZP hNMEMQ pf-6_"><span data-pf-type="Text" class="sc-daBunf eQUdeu pf-8_">T-SHIRTS</span></h3></div></div></div></div></div><div data-pf-type="Section" class="sc-hhIiOg iwisNA pf-9_"><div style="--cw:1386px" class="sc-oeezt OJJCp"><div class="sc-hHEiqL ccTnQh pf-10_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-11_"><a title="High quality men's t-shirts" data-action="url" href="/products/black" target="_self" data-pf-type="Image" class="sc-efHYUO cFSLxQ pf-12_"><img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-e788bcf7--Each-Purchase-Supports-Textile-Exchange-1.png?v=1622220270" srcSet="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-e788bcf7--Each-Purchase-Supports-Textile-Exchange-1.png?v=1622220270 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" alt="SilkStretch™ Black T-Shirt" title="High quality men's t-shirts" class="sc-iBzEeX glZmJR"/></a><h3 data-product-type="title" data-product-id="5998637416601" data-pf-type="ProductTitle" class="sc-kTCsyW gxdqsh pf-13_">{{ product_5998637416601.title }}</h3><div data-product-type="price" data-product-id="5998637416601" data-pf-type="ProductPrice" class="sc-iGkqmO ckwDLe pf-14_">{{ product_5998637416601.price | money }}</div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-15_"><a title="The best shirts for men" data-action="url" href="/products/white" target="_self" data-pf-type="Image" class="sc-efHYUO cFSLxQ pf-16_"><img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-88bcf715--Each-Purchase-Supports-FASHION-TAKES-ACTION-2.png?v=1622220320" srcSet="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-88bcf715--Each-Purchase-Supports-FASHION-TAKES-ACTION-2.png?v=1622220320 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" alt="SilkStretch™ White T-Shirt" title="The best shirts for men" class="sc-iBzEeX glZmJR"/></a><h3 data-product-type="title" data-product-id="5998633484441" data-pf-type="ProductTitle" class="sc-kTCsyW gxdqsh pf-17_">{{ product_5998633484441.title }}</h3><div data-product-type="price" data-product-id="5998637416601" data-pf-type="ProductPrice" class="sc-iGkqmO ckwDLe pf-18_">{{ product_5998637416601.price | money }}</div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-laZMeE ljWfRO pf-19_"><a title="The best t-shirts for men" data-action="url" href="/products/birch" target="_self" data-pf-type="Image" class="sc-efHYUO cFSLxQ pf-20_"><img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-bcf715b8--You-are-supporting-fair-trade-USA.png?v=1622220371" srcSet="https://cdn.shopify.com/s/files/1/0457/8698/8697/t/3/assets/pf-bcf715b8--You-are-supporting-fair-trade-USA.png?v=1622220371 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" alt="SilkStretch™ Birch T-Shirt" title="The best t-shirts for men" class="sc-iBzEeX glZmJR"/></a><h3 data-product-type="title" data-product-id="5998629290137" data-pf-type="ProductTitle" class="sc-kTCsyW gxdqsh pf-21_">{{ product_5998629290137.title }}</h3><div data-product-type="price" data-product-id="5998637416601" data-pf-type="ProductPrice" class="sc-iGkqmO ckwDLe pf-22_">{{ product_5998637416601.price | money }}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.3.2","shopDomain":"anydaycasual.myshopify.com","elementData":{},"pageTitle":"T-Shirts","pageType":"page","pageId":"bd68a81b-244e-46be-a35e-245a93e7fdca","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Lato:wght@400&display=swap","trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.3.2/core/helper.js" defer></script>